<!DOCTYPE html>
<html>
  <head>
    <title>Name: <%= user.name %></title>
    <% include partials/_head %>
    <script type="text/javascript" src="/scripts/profile.js"></script>
  </head>

  <body>
    <header>
        <% include partials/_header %>
    </header>

    <main>
    <section id="profileconatiner" class="container">
      <div class="jumbotron">
         <img id="profilepicture" src="<%= user.avatar%>" class="rounded float-right">
           <h1 class="display-5">
             <p><%= user.name %></p>
           </h1>
           <p class="lead"><%= user.email %></p>
           <button id="plus"><i class="fa fa-plus" aria-hidden="true"></i></button>
           <button id="editprofile"><i class="fa fa-cog" aria-hidden="true"></i></button>
      </div>
    </section>


    <!-- ADD NEW  URL -->
    <section class="container">
      <form id="newForm">
        <div class="form-group">

          <label for="exampleFormControlTextarea1">URL</label>
          <textarea name="url" class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="https://"></textarea>
          <label for="exampleFormControlTextarea2">Title</label>
          <textarea name="title" class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Title"></textarea>
          <div class="form-group">
          <label for="exampleFormControlSelect1">Category</label>
          <select name="selectvcategory" class="form-control" id="exampleFormControlSelect1">
            <%for (let i = 0; i < categories.length; i++) {%>
              <option value="<%= categories[i].id%>"><%= categories[i].name%></option>
            <%}%>
          </select>
          </div>
          <label for="exampleFormControlTextarea2">Add New</label>
          <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What's interesting?"></textarea>


        </div>
        <button id="addnew" type="submit" class="btn btn-info">Add New</button>

       </form>
    </section>

    <!-- EDIT USER PROFILE -->
    <section class="container">
      <form id="editinfo" userid="<%=user.id%>">
        <div class="form-group">

          <label for="exampleFormControlTextarea2">Name:</label>
          <input type="text" name="text" class="form-control" id="exampleFormControlTextarea1" rows="1" value= "<%- user.name %>">

          <label for="exampleFormControlTextarea1">E-mail:</label>
          <input type="text" name="url" class="form-control" id="exampleFormControlTextarea1" rows="1" value= "<%- user.email %>">
        </div>

        <button id="edit" type="submit" class="btn btn-info">Edit</button>
      </form>
    </section>



    <!-- URLs container. All URLs will be added to this section via AJAX -->
    <section id="urls-container" class="container" userid="<%=user.id%>">
    </section>

    </main>
    <footer>
      <% include partials/_footer %>
    </footer>
    <% include partials/_foot %>
  </body>
</html>
