<!DOCTYPE html>
<html>
  <head>
    <title><%= user.name %></title>
    <% include partials/_head %>
    <script type="text/javascript" src="/scripts/profile.js"></script>
  </head>

  <body>
    <header>
        <% include partials/_header %>
    </header>

    <main>
      <section id="profileconatiner" class="container">
        <div>
           <img src="<%=user.avatar%>" class="float-right">
           <h1><%= user.name %></h1>
           <p><%= user.email %></p>
           <button id="new-url-form-toggle"><i class="fa fa-plus" aria-hidden="true"></i>Add New</button>
           <button id="edit-profile-form-toggle"><i class="fa fa-cog" aria-hidden="true"></i>Edit Profile</button>
        </div>
      </section>


    <!-- ADD NEW  URL -->
    <section class="container">
      <form id="new-url-form">
        <div class="form-group">
          <h3>Add New URL:</h3>
          <div class="form-group">
            <label>URL</label>
            <input name="url" class="form-control" rows="1" placeholder="https://">
          </div>
          <div class="form-group">
            <label>Title</label>
            <input name="title" class="form-control" rows="1" placeholder="Title">
          </div>
          <div class="form-group">
            <label>Category</label>
            <select name="category" class="form-control">
              <%for (let i = 0; i < categories.length; i++) {%>
                <option value="<%= categories[i].id%>"><%= categories[i].name%></option>
              <%}%>
            </select>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea name="text" class="form-control" rows="3" placeholder="What's interesting?"></textarea>
          </div>
          <button id="addnew" type="submit">Add New</button>
       </form>
    </section>

    <!-- EDIT USER PROFILE -->
    <section class="container">
      <form id="edit-profile-form" userid="<%=user.id%>">
        <h3>Edit Your Profile:</h3>
        <div class="form-group">

          <label>Name:</label>
          <input type="text" name="text" class="form-control" id="exampleFormControlTextarea1" rows="1" value= "<%- user.name %>">

          <label for="exampleFormControlTextarea1">E-mail:</label>
          <input type="text" name="url" class="form-control" id="exampleFormControlTextarea1" rows="1" value= "<%- user.email %>">
        </div>

        <button id="edit" type="submit" class="btn btn-info">Edit</button>
      </form>
    </section>

    <!-- URLs container. All URLs will be added to this section via AJAX -->
    <section id="urls-container" class="container" userid="<%=user.id%>">
    </section>

    </main>
    <footer>
      <% include partials/_footer %>
    </footer>
    <% include partials/_foot %>
  </body>
</html>
