<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%- include partials/_head.ejs%>
</head>
<body>

  <header>
    <%- include partials/_header.ejs%>
  </header>

  <main>
    <%= url %>
    <%= url.length%>

  </main>


  <footer class="m-4 panel-footer">
    <%- include partials/_footer.ejs%>
  </footer>

</body>
<%- include partials/_foot.ejs%>
</html>
