<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%- include partials/_head.ejs%>
</head>
<body>


  <p><%=url.id %></p>
  <p><%=url.Desc %></p>
  <p><%=url.URL %></p>
  <p><%=url.cat_id %></p>
  <p><%=url.Title %></p>
  <p><%=url.user_id %></p>

</body>
<%- include partials/_foot.ejs%>
</html>
