<!DOCTYPE html>
<html>

  <head>
     <% include partials/_head %>
     <title><%=url.Title%></title>

    <script type="text/javascript" src="/scripts/show_url.js"></script>

  </head>

  <body>

    <header>
      <%- include partials/_header.ejs%>
    </header>

    <main>
      <section class="container" id="oneurlcontainer">
        <header>
          <img src="<%=url.image%>">
          <h2><%=url.Title%></h2>
          <div class="categories">Categories: <%=url.categoryname%></div>
          <div class="rating"></div>
        </header>
        <main>
          <p id="descriptions"><%=url.Desc %></p>
          <a href="<%=url.URL%>"><i class="fa fa-link" aria-hidden="true"></i> Visit Now </a>
          <div class="float-right">
            <span id="counter"></span>
            <button id="likebutton" type='submit' URLid="<%=url.id%>"><i class="fa fa-heart" aria-hidden="true"></i></button>
        </div>
        </main>
      </section>


      <section id="comments-section">
        <form id="new-comment-form" class="row" URLid='<%=url.id%>'>
          <div class="container">
            <h4>Comment:</h4>
            <textarea maxlength="250" name="comment" class="form-control" rows="3" placeholder="....."></textarea>
            <div class="rating">
              <span class="star-cb-group">
                <input type="radio" id="str5" name="rating" value="5" /><label for="rating-5">5</label>
                <input type="radio" id="str4" name="rating" value="4" /><label for="rating-4">4</label>
                <input type="radio" id="str3" name="rating" value="3" /><label for="rating-3">3</label>
                <input type="radio" id="str2" name="rating" value="2" /><label for="rating-2">2</label>
                <input type="radio" id="str1" name="rating" value="1" /><label for="rating-1">1</label>
                <input type="radio" id="str0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
              </span>
            </div>
            <button id="comments" type='submit'><i class="fa fa-comment" aria-hidden="true"></i> Comment</button>

          </div>
        </form>
        <!-- Comments will Be added here via AJAX -->
        <div id="comments-container">
        </div>
      </section>


    </main>

    <footer class="m-4 panel-footer">
      <%- include partials/_footer.ejs%>
    </footer>

  </body>
<%- include partials/_foot.ejs%>
</html>
