<!DOCTYPE html>
<html>
<head>
  <title>URLs</title>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <%- include partials/_head.ejs%>
</head>
<body>

<header>

</header>

<div class="container" id="border">
  <div class="row justify-content-center">
    <%for (let row = 0; row<urls.length; row++){ %>
        <div class="col-md-4">
            <header class="head">
            <h5>
            <a id="theTitle" href="/urls/<%= urls[row].id %>"><%= urls[row].Title%></a>
            </h5>
            </header>
            <main class='textbox'>
               <p><%= urls[row].Desc%></p>
            </main>
            <footer>
              <div class="rating">
                <% for (let i = 0; i < urls[row].overallRating; i++) {%>
                 <span>&#9733;</span>
                <%}%>
                <% for (let i = 0; i < 5-urls[row].overallRating; i++) {%>
                  <span>&#9734;</span>
                <%}%>
              </div>
            </footer>
        </div>
    <%}%>
  </div>
</div>

</body>
<%- include partials/_foot.ejs%>
</html>
