<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include partials/_head.ejs%>
  </head>
  <body>

    <header>
      <% include partials/_header %>
    </header>

    <main>
    <% for (let i in urls) { %>
      <div>
      <a href="/urls/<%=urls[i].id%>"><%=urls[i].Title%></a>
      <p><%= urls[i].Desc%></p>
      </div>
    <%}%>
    </main>

    <footer class="m-4 panel-footer">
      <%- include partials/_footer.ejs%>
    </footer>

  </body>
  <%- include partials/_foot.ejs%>
</html>
