<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <%- include partials/_head.ejs%>
</head>
<body>

<header>
  <% include partials/_header %>
</header>

  <% for (let i in urls) { %>
    <div>
    <a href="/urls/<%=urls[i].id%>"><%=urls[i].Title%></a>
    <p><%= urls[i].Desc%></p>
    </div>
  <%}%>

</body>
<%- include partials/_foot.ejs%>
</html>
