<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>


<div class="container">
  <div class="row justify-content-center">
    <%for (let row = 0; row<urls.length; row++){ %>
        <div class="col-lg-3">
            <header class="head">
            <h5>
            <a id="theTitle" href="/urls/<%= urls[row].id %>"><%= urls[row].Title%></a>
            </h5>
            </header>
            <main class='textbox'>
               <p><%= urls[row].Desc%></p>
            </main>
            <footer>
              <div class="rating">
                <% for (let i = 0; i < urls[row].overallRating; i++) {%>
                 <span>&#9733;</span>
                <%}%>
                <% for (let i = 0; i < 5-urls[row].overallRating; i++) {%>
                  <span>&#9734;</span>
                <%}%>
              </div>
            </footer>
        </div>
    <%}%>
  </div>
</div>

  <p><%=url.id %></p>
  <p><%=url.Desc %></p>
  <p><%=url.URL %></p>
  <p><%=url.cat_id %></p>
  <p><%=url.Title %></p>
  <p><%=url.user_id %></p>

</body>
</html>
